@model IEnumerable<Entity.Entity.AircraftSighting>

@{ ViewBag.Title = "AircraftSightingIndex"; }

<p>
    <a class="btn btn-info btn-lg" style="margin-top:70px;margin-bottom:20px;border-radius:50px;" href="@Url.Action("Create", "ASighting")">Create New</a>
</p>

<div class="row" style="margin:20px;border:1px solid #0094ff;padding:20px;border-radius:5px;">

    <div class="col-md-2">Search By</div>
    <div class="col-md-3">

        <select class="form-control" style="cursor:pointer;">
            <option value="Make">Make</option>
            <option value="Made">Made</option>
            <option value="Registration">Registration</option>
        </select>

    </div>
    <div class="col-md-3">
        <input class="form-control" type="text" placeholder="Enter here.." style="border-radius:20px;" />
    </div>
    <div class="col-md-1">
        <a class="btn btn-md btn-info" style="border-radius: 50px;">Search</a>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Registration
            </th>
            <th>
                Location
            </th>
            <th>
                Date and Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: AircraftSightings">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: Make"></td>
            <td data-bind="text: Model"></td>
            <td data-bind="text: Registration"></td>
            <td data-bind="text: Location"></td>
            <td data-bind="text: dateFormat(new Date(parseInt((DateAndTime).match(/\d+/)[0])))"></td>
            <td>
                <a class="btn btn-sm btn-warning" style="border-radius: 50px;" data-bind="click: editASighting">Edit</a>
                <a class="btn btn-sm btn-info" style="border-radius: 50px;" data-bind="click: detailsASighting">Details</a>
                <a class="btn btn-sm btn-danger" style="border-radius: 50px;" data-bind="click: deleteASighting">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {

<script>
    var urlPath = window.location.pathname;
    $(function () {
        ko.applyBindings(ASListVM);
        ASListVM.getAircraftSightings();
    });

    //View Model
    var ASListVM = {
        AircraftSightings: ko.observableArray([]),
        getAircraftSightings: function () {
            var self = this;
            $.ajax({
                type: "GET",
                url: '/AircraftSighting/FetchAircraftSightings',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    self.AircraftSightings(data); //Put the response in ObservableArray                
                },
                error: function (err) {
                    alert(err.status + " : " + err.statusText);
                }
            });
        },
    };

    self.editASighting = function (asValues) {
        window.location.href = '/AircraftSighting/Edit/' + asValues.Id;
    };
    self.detailsASighting = function (asValues) {
        window.location.href = '/AircraftSighting/Details/' + asValues.Id;
    };
    self.deleteASighting = function (asValues) {
        window.location.href = '/AircraftSighting/Delete/' + asValues.Id;
    };

    //Model
    function AircraftSightings(data) {
        this.Id = ko.observable(data.Id);
        this.Make = ko.observable(data.Make);
        this.Mode = ko.observable(data.Mode);
        this.Registration = ko.observable(data.Registration);
        this.Location = ko.observable(data.Location);
        this.DateAndTime = ko.observable(data.DateAndTime);


    }

    function dateFormat(d) {
        console.log(d);
        return ((d.getMonth() + 1) + "").padStart(2, "0")
            + "/" + (d.getDate() + "").padStart(2, "0")
            + "/" + d.getFullYear()
            + " " + d.getHours()
            + ":" + d.getMinutes()
            + ":" + d.getSeconds();
    }

</script>

}
